<!-- This is the code for the INTERACTIVE WINE SELECTOR DASHBOARD web page --> 

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DASHBOARD</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <!-- CSS stylesheet -->
  <link rel="stylesheet" type="text/css" href="../assets/css/styles.css" media="screen">

</head>

<body>
  <!-- Start of Header -->
  <header>
    <div class="col-md-12 jumbotron text-center"
        style="background-image: url('../assets/images/purple_header.png')">
        <h1 style="color: white;">grape choice</h1>
        <p style="color: white;">_______________________________________</p>
        <h2 style="color: whitesmoke;">Wine Selector Dashboard</h2>
        <header>
            <img src="../assets/images/logo_v8.png" alt="Logo">
            <div class= credit> Image by Bloodlinewolf </div>
        </header>   
  </header>
  <!-- Start of Navigation -->
  <nav>
    <ul>
      <li><a href="../index.html">PROJECT OVERVIEW</a></li>
      <li><a href="dashboard.html">DASHBOARD</a></li>
      <li><a href="our_team_v3.html">OUR TEAM</a></li>
      <li><a href="https://github.com/clangstonhinton/grape_choice_project_3">GITHUB REPO</a></li>
    </ul>
  </nav>
    <div class="row text-center">
    <h2 style="color: black;">Use the interactive Wine Selection Parameters below to find your next fav!</h2>
    <hr>
    </div>

    <div class="row">
      <div class="col-md-2">
        <div class="well">
            <!-- REMOVE THIS SECTION -->
          <h5>Test Subject ID No.:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
              <h6 class="panel-title">Wine Selection Parameters</h6>
              <!-- Add Price Selector Scale-->
              <label for="price">Select price point:</label>
              <input type="range" id="price" name="price" min="0" max="100" step="10" value="10" oninput="updatePrice(this.value)">
              <span id="price-output">$50</span>
              <br>
              <!-- Add Vintage Selector Scale-->
              <label for="rating">Select rating:</label>
              <input type="range" id="rating" name="rating" min="80" max="100" step="10" value="2" oninput="updateYear(this.value)">
              <span id="rating-output">90</span>
              <!-- Add Vintage Dropdown Menu-->
              <h5>Wine Variety:</h5>
                <select id="selDataset" onchange="optionChanged(this.value)"></select>
                <!-- Add Country Dropdown Menu-->
                <h5>Country:</h5>
                <select id="selDataset2" onchange="optionChanged(this.value)"></select>
                </div>
          <!-- <div id="sample-metadata" class="panel-body"></div> -->
        </div>
      </div>
      <div class="col-md-5">
        <div id="bar"></div>
      </div>
      <div class="col-md-5">
        <div id="gauge"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="bubble"></div>
      </div>
    </div>
  </div>

  <script>
    function updatePrice(price) {
      // Update the price display
      document.getElementById("price-output").innerHTML = "$" + price;
    }
      
    function updateRating(rating) {
        // Update the rating display
        document.getElementById("rating-output").innerHTML = rating;
    }
  </script>

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="../static/app.js"></script>

  
  <!-- Footer -->
  <footer class="footer" style="text-align: center;">
    <span class="bottom">&copy; Copyright Data Viz-Wizards 2023</span>
  </footer>

</body>

</html>




