<!-- Add code here for Our Team web page -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- CSS stylesheet -->
    <link rel="stylesheet" type="text/css" href="../assets/css/styles.css" media="screen">

</head>

<body>
    <!-- Start of Header -->
    <header>
        <div class="col-md-12 jumbotron text-center"
            style="background-image: url('../assets/images/purple_header.png')">
            <h1 style="color: white;">grape choice</h1>
            <h2 style="color: whitesmoke;">Our Team</h2>
            <header>
                <img src="../assets/images/logo_v8.png" alt="Logo">
                <div class=credit> Image by Bloodlinewolf </div>
            </header>
    </header>
    <!-- Start of Navigation -->
    <nav>
        <ul>
            <li><a href="../index.html">PROJECT OVERVIEW</a></li>
            <li><a href="dashboard.html">DASHBOARD</a></li>
            <li><a href="our_team.html">OUR TEAM</a></li>
            <li><a href="https://github.com/clangstonhinton/grape_choice_project_3">GITHUB REPO</a></li>
        </ul>
    </nav>
    <!-- Containers to hold info and photos of team members -->
    <br>
    <br>
    <div class="container">
        <div class="team-area sp">
            <div class="container"> 
                <div class="row">
                    <div class="col-sm-8 col-md-5 col-lg-3 single-team">
                        <div class="inner">
                            <div class="team-img">
                                <a href="https://www.linkedin.com/in/jack-cohen-6b573213a/">
                                    <img src="https://www.bootdey.com/img/Content/avatar/avatar6.png" alt="Jack Cohen Photo">
                                </a>
                            </div>
                            <div class="team-content">
                                <h4>Jack Cohen</h4>
                                <h5>Data Analyst</h5>
                                <div class="team-social">
                                    <a href="https: //github.com/jackatopolis" class="fa fa-github"></a>
                                    <a href="https://www.linkedin.com/in/jack-cohen-6b573213a/" class="fa fa-linkedin" ></a> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 single-team">
                        <div class="inner">
                            <div class="team-img">
                                <a href="https://www.linkedin.com/in/jack-cohen-6b573213a/">
                                    <img src="https://www.bootdey.com/img/Content/avatar/avatar6.png" alt="Jack Cohen Photo">
                                </a>
                            </div>
                            <div class="team-content">
                                <h4>Jack Cohen</h4>
                                <h5>Data Analyst</h5>
                                <div class="team-social">
                                    <a href="https: //github.com/jackatopolis" class="fa fa-github"></a>
                                    <a href="https://www.linkedin.com/in/jack-cohen-6b573213a/" class="fa fa-linkedin" ></a> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 single-team">
                        <div class="inner">
                            <div class="team-img">
                                <a href="https://www.linkedin.com/in/jack-cohen-6b573213a/">
                                    <img src="https://www.bootdey.com/img/Content/avatar/avatar6.png" alt="Jack Cohen Photo">
                                </a>
                            </div>
                            <div class="team-content">
                                <h4>Jack Cohen</h4>
                                <h5>Data Analyst</h5>
                                <div class="team-social">
                                    <a href="https: //github.com/jackatopolis" class="fa fa-github"></a>
                                    <a href="https://www.linkedin.com/in/jack-cohen-6b573213a/" class="fa fa-linkedin" ></a> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 single-team">
                        <div class="inner">
                            <div class="team-img">
                                <a href="https://www.linkedin.com/in/jack-cohen-6b573213a/">
                                    <img src="https://www.bootdey.com/img/Content/avatar/avatar6.png" alt="Jack Cohen Photo">
                                </a>
                            </div>
                            <div class="team-content">
                                <h4>Jack Cohen</h4>
                                <h5>Data Analyst</h5>
                                <div class="team-social">
                                    <a href="https: //github.com/jackatopolis" class="fa fa-github"></a>
                                    <a href="https://www.linkedin.com/in/jack-cohen-6b573213a/" class="fa fa-linkedin" ></a> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 single-team">
                        <div class="inner">
                            <div class="team-img">
                                <a href="https://www.linkedin.com/in/jack-cohen-6b573213a/">
                                    <img src="https://www.bootdey.com/img/Content/avatar/avatar6.png" alt="Jack Cohen Photo">
                                </a>
                            </div>
                            <div class="team-content">
                                <h4>Jack Cohen</h4>
                                <h5>Data Analyst</h5>
                                <div class="team-social">
                                    <a href="https: //github.com/jackatopolis" class="fa fa-github"></a>
                                    <a href="https://www.linkedin.com/in/jack-cohen-6b573213a/" class="fa fa-linkedin" ></a> 
                                </div>
                            </div>
                        </div>
                    </div>
                


            <!-- MARCEAU AUGUSTIN -->
            <!-- <div class="col-md-6 d-flex align-items-stretch"> -->
            <!-- <div class="card">
                <img src="../assets/images/wine_barn_table_square.png" alt="Marceau Augustin" style="width:70%">
                <h3>Marceau Augustin</h3>
                <h4 class="title">Data Analyst</h4>
                <h5>Favorite Wine: Pinot Noir</h5>
                <p style="width:100%; text-align:center"> 
                 <a href="https://github.com/marceau1">
                    <img alt="GitHub" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                        style="border:0px;margin:0px" width="20" height="20"></a>
                <a href="https://www.linkedin.com/in/marceau-augustin-73a212185//">
                    <img alt="LinkedIn"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/768px-LinkedIn_logo_initials.png"
                        style="border:0px;margin:0px" width="20" height="20"></a> -->
                <!-- </p> -->
            <!-- </div> --> -->
            <!-- TOM DEMPSEY-->
            <!-- <div class="col-md-6 d-flex align-items-stretch"></div> -->
            <!-- <div class="card">
                <img src="../assets/images/wine_barn_table_square.png" alt="Tom Dempsey" style="width:70%">
                <h3>Tom Dempsey</h3>
                <h4 class="title">Data Analyst</h4>
                <h5>Favorite Wine: Cabernet Sauvignon</h5>
                <p style="width:100%; text-align:center"><a href="https://github.com/tdempsey">
                        <img alt="GitHub"
                            src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                            style="border:0px;margin:0px" width="20" height="20"></a>
                    <a href="https://www.linkedin.com/in/tomdemp/">
                        <img alt="LinkedIn"
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/768px-LinkedIn_logo_initials.png"
                            style="border:0px;margin:0px" width="20" height="20"></a>
                </p>
            </div> -->
            <!-- CHARLIE HINTON -->
            <!-- <div class="col-md-6 d-flex align-items-stretch"></div> -->
            <!-- <div class="card">
                <img src="../assets/images/wine_barn_table_square.png" alt="Charlie Hinton" style="width:70%">
                <h3>Charlie Hinton</h3>
                <h4 class="title">Data Analyst</h4>
                <h5>Favorite Wine: Sauvignon Blanc</h5>
                <p style="width:100%; text-align:center"><a href="https://github.com/clangstonhinton">
                        <img alt="GitHub"
                            src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                            style="border:0px;margin:0px" width="20" height="20"></a>
                    <a href="https://www.linkedin.com/in/charlielangstonhinton/">
                        <img alt="LinkedIn"
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/768px-LinkedIn_logo_initials.png"
                            style="border:0px;margin:0px" width="20" height="20">
                    </a>
                </p>
            </div> -->
            <!-- ALEX ROSENBERG -->
            <!-- <div class="col-md-6 d-flex align-items-stretch"></div> -->
            <!-- <div class="card">
                <img src="../assets/images/wine_barn_table_square.png" alt="Rosenberg" style="width:70%">
                <h3>Alex Rosenberg</h3>
                <h4 class="title">Data Analyst</h4>
                <h5>Favorite Wine: Pinot Noir</h5>
                <p style="width:100%; text-align:center"><a href="https://github.com/ARmax34">
                        <img alt="GitHub"
                            src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                            style="border:0px;margin:0px" width="20" height="20"></a>
                    <a href="https://www.linkedin.com/in/alexanderrosenberg34/">
                        <img alt="LinkedIn"
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/768px-LinkedIn_logo_initials.png"
                            style="border:0px;margin:0px" width="20" height="20"></a>
                </p>
            </div> -->

            <!-- OLEKSII SHUMSKYI -->
            <!-- <div class="col-md-6 d-flex align-items-stretch"></div> -->
            <!-- <div class="card">
                <img src="../assets/images/wine_barn_table_square.png" alt="Oleksii Shumskyi" style="width:70%">
                <h3>Oleksii Shumskyi</h3>
                <h4 class="title">Data Analyst</h4>
                <h5>Favorite Wine: Port</h5>
                <p style="width:100%; text-align:center"><a href="https://github.com/ashumskyy">
                        <img alt="GitHub"
                            src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                            style="border:0px;margin:0px" width="20" height="20"></a>
                    <a href="https://www.linkedin.com/in/alexey-shumskyi/">
                        <img alt="LinkedIn"
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/768px-LinkedIn_logo_initials.png"
                            style="border:0px;margin:0px" width="20" height="20"></a>
                </p> -->
                <!-- <br>
                <br>
                <br>
                <br> -->
            </div>
        </div>
        <!-- Footer -->
        <footer class="footer" style="text-align: center;">
            <span class="bottom">&copy; Copyright Data Viz-Wizards 2023</span>
        </footer>

</body>

</html>